body {
  font-family: "Roboto Serif", serif;
  font-size: 62.5%;
  background-color: #87d039;
}

p {
  font-size: 2rem;
}

.container {
  text-align: center; /* Center text horizontally within the container */
}

img {
  width: 300px;
  height: 200px;
}
